<launch>
  <!-- Arguments -->
  <!--arg name="model" default="$(env DIFFBOT_MODEL)" doc="model type [diffbot, remo]"/-->
  <!-- <arg name="model" default="diffbot" /> -->
  <arg name="scan_topic"     default="/scan"/>
  <arg name="initial_pose_x" default="0.0"/>
  <arg name="initial_pose_y" default="0.0"/>
  <arg name="initial_pose_a" default="0.0"/>
  <arg name="use_map_topic"   default="true"/>
  <arg name="odom_frame_id"   default="/odom"/>
  <arg name="base_frame_id"   default="/base_link"/>
  <arg name="global_frame_id" default="/map"/>

  <!-- AMCL -->
  <node pkg="amcl" type="amcl" name="amcl">
    <rosparam file="$(find autobot_nav)/config/amcl.yaml" command="load"/>

  </node>
</launch>
